.setting__setting {
  padding: 30px 0px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.setting__setting i {
  margin-right: 20px;
  font-size: 22px;
}

.setting__setting-column:last-child {
  opacity: 0.7;
}
